@using Microsoft.AspNetCore.Identity

@model IEnumerable<Account>

@{
    ViewData["Title"] = "Accounts";
}


<h4>Accounts</h4>

@if (User.IsInRole("admin"))
{
    <a href="~/User/AddOrUpdate" class="btn border">Add account</a>
}

<a href="~/Home/Index" class="btn border">Back</a>

<table class="table mt-2">

    <thead>
        <tr>
            <th>Name</th>
            @if (User.IsInRole("admin"))
            {
                <th>Id</th>
                <th>Role</th>
            }
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @if (!User.IsInRole("admin"))
        {
            <tr>
                <td>@User.Identity.Name</td>
                <td>
                    <a asp-controller="User" asp-action="AddOrUpdate" asp-route-userName="@User.Identity.Name">Edit</a>
                </td>
                <td>
                    <a asp-controller="User" asp-action="Delete" asp-route-userName="@User.Identity.Name">Delete</a>
                </td>
            </tr>
        }
        else
        {
            @foreach (var acnt in Model)
            {
                <tr>
                    <td>@acnt.UserName</td>
                    <td>@acnt.Id</td>
                    <td>@acnt.Role?.Name</td>
                    <td>
                        <a asp-controller="User" asp-action="AddOrUpdate" asp-route-userName="@acnt.UserName">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="User" asp-action="Delete" asp-route-userName="@acnt.UserName">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>